
.high {
    
    width:auto;
    height:auto;
    padding: 10% 30%;
    border-radius: 7%;
    background: #fff;
    
}

.header {
    width: 100%;
    background: #fff;
    border-radius: 50%;
    padding: 15px 30px;
}
body {
    background-image: url("image1.jpeg");
    align-content: center;
   }
   .size{
    height: 200%;
    width: 100%;
   }
