
.high {
    
    width: 400px;
    height: 500px;
    padding: 100px 300px;
    border-radius: 7px;
    background: #fff;
    
}

.header {
    width: 100%;
    background: #fff;
    border-radius: 50px;
    padding: 15px 30px;
}
body {
    background-image: url("image1.jpeg");
   }
